<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12 scroll-mt-12">
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Discover Enhanced AI Features
        </p>
        <p class="mt-4 text-lg mx-auto tracking-tight text-gray-500">
          Our tools simplify complex tasks and boost efficiency effortlessly.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features</h2>
        <div>
          <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-16 w-16 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-8 w-8" name="hardware-chip-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Multi-Model Integration
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Seamlessly use Claude and GPT-4 models for versatile AI tasks.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-16 w-16 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-8 w-8" name="pencil-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Efficient Prompt Management
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Easily organize and manage prompts for better AI interactions.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-16 w-16 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-8 w-8" name="images-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Image Generation
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Leverage AI to create stunning visuals effortlessly.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-16 w-16 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-8 w-8" name="cash-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Cost-Effective Solution
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                More affordable than other AI platforms like ChatGPT and Claude.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-16 w-16 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-8 w-8" name="infinite-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Unlimited Access
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Enjoy limitless sessions and interactions with almost Unlimited Access, get 4.5millions token
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-16 w-16 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-8 w-8" name="document-text-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Document Interaction
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Integrate and chat with your documents for improved productivity.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>