<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Powerful AI Assistance
          </p>
          <p class="text-base mt-4 text-gray-500">
            Engage with cutting-edge AI models to enhance your research and content creation effortlessly.
          </p>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full hidden lg:block rounded-2xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img alt="AI platform interface" class="border border-gray-200 lg:rounded-2xl object-cover rounded shadow-2xl" src="/assistant-screenshots.png" />
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="chatbubbles outline" class="hydrated md h-5 w-5" name="chatbubbles-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Interactive Chat
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Communicate seamlessly with AI to get quick answers and insights for all your queries.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="document text outline" class="hydrated md h-5 w-5" name="document-text-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Content Creation
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Utilize AI to generate high-quality content and ideas effortlessly, enhancing your productivity.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="search outline" class="hydrated md h-5 w-5" name="search-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Research Assistant
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Access extensive information and conduct thorough research with AI-assistance at your fingertips.
        </p>
      </div>
    </div>
  </div>
</section>