@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
  --color-black: #121212;
  --color-blue-50: #EDE7FF;
  --color-accent-50: #EDE7FF;
  --color-accent-100: #E0D4FF;
  --color-accent-200: #C2AFFF;
  --color-accent-300: #A98BFF;
  --color-accent-400: #8A63FF;
  --color-accent-500: #6F3CFF;
  --color-accent-600: #5A17EB;
  --color-accent-700: #4612B3;
  --color-accent-800: #310C75;
  --color-accent-900: #1E063D;
}
/* CSS */
:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}