<footer>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-16">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-8">
      <a href="/" class="xl:col-span-1 text-black inline-flex items-center gap-3">
        <img src="/aipedia-logo.png" class="h-7 w-auto">
        <span class="font-bold font-display">AI Pedia Pro</span>
      </a>
      <!-- Contact Section -->
      <div class="mt-4 lg:mt-0">
        <h2 class="text-lg font-semibold text-black mb-2">Contact Us</h2>
          <a href="mailto:aipedia.pro@gmail.com" class="text-black hover:underline">
            aipedia.pro@gmail.com
          </a>
      </div>

      <div class="mt-4 lg:mt-0">
        <h2 class="text-lg font-semibold text-black mb-2">Costumer</h2>
          <a href="https://bit.ly/aipedia-feedback" class="text-black hover:underline">
            Feedback
          </a>
      </div>
    </div>
  </div>
</footer>